.App {
  text-align: center;
  color: darkblue;
  font-weight: bold;
  background-color: beige;
  /* position: fixed; */
  /* clear: both;
  overflow: hidden;
  margin: -3% 0 30px 0;
  padding: 0; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: beige;
}

.App-link {
  color: #61dafb;
}

.Bio {
  font-size: 20px;
  border: 2px solid darkblue;
  width: 50%;
  margin: 10px;
  padding: 25px;
  position: relative; top: 70px; left: 420px;
}

.CSSImg {
  width: 65%;
  height: 65%;
  margin: 13px;
}

.Description {
  font-size: 23px;
  position: relative; bottom: 12px;

}

#filter {
  background-color: beige;
  padding: 0;
  margin: 0;
}

.FooterHome {
  position: relative; top: 15px;
}

.footsies {
 color: darkblue;
 font-size: 18px;
 position:relative; bottom: 50px;
}

.Github {
  width: 12.5%;
  height: 12.5%;
  margin: 35px;
}

.HeaderTitle {
  color: darkblue;
  font-weight: bold;
  font-size: 60px;
  position: relative; top: 5px;
}

.HTMLImg {
  width: 65%;
  height: 65%;
  margin: 13px;
}

.img-wrapper{
	position: relative;
  border-radius: 10%;
	width: 600px;
	height: 400px;
	overflow: hidden;
    box-shadow: 6px 5px 4px 1px gray;
    margin: 30px;
}

.img-wrapper img
{
	height: 400px;
	width: 600px;
	transition: 2s;
}

.img-wrapper:hover img
{
  animation: shake 1s;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-2px, -1px) rotate(1deg); }
  20% { transform: translate(-1px, 1px) rotate(0deg); }
  30% { transform: translate(2px, 0px) rotate(-1deg); }
  40% { transform: translate(0px, -2px) rotate(1deg); }
  50% { transform: translate(-3px, 1px) rotate(0deg); }
  60% { transform: translate(-1px, 3px) rotate(-1deg); }
  70% { transform: translate(2px, 2px) rotate(1deg); }
  80% { transform: translate(1px, -1px) rotate(0deg); }
  90% { transform: translate(-1px, 2px) rotate(-1deg); }
  100% { transform: translate(1px, -2px) rotate(0deg); }
}

.img-wrapper h2
{
	background:darkblue;
	color: white;
	text-align: center;
	margin: 0;
	padding: 10px, 0;
	position: absolute;
	bottom: 0;
	width: 100%;
  height: 27%;
  transform: rotate(0.5turn);
	transform-origin: bottom;
	transition: 1.3s;
}

.img-wrapper p {
    font-style: italic;
    font-size: small;
    padding-top: 10px;
}

.img-wrapper:hover h2
{
	transform: perspective(400px) rotateY(0deg);
}

.img-wrapper ul
{
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li
{
	background: darkblue;
	height: 33px;
	width: 33px;
  float: right;
  margin-left: 17px;
  margin-top: 14px;
	text-align: center;

  transform: perspective(800px) rotateY(90deg);
	transition: .5s;
	transform-origin: left;
}

.img-wrapper:hover ul li
{
	transform: perspective(800px) rotateY(0deg);
}

.img-wrapper:hover ul li:nth-child(1)
{
	transition-delay: .3s;
}

.img-wrapper:hover ul li:nth-child(2)
{
	transition-delay: .9s;
}


.img-wrapper ul li a
{
	color: darkblue;
	background: rgba(53, 34, 34, 0);
}

.img-wrapper ul li i
{
  color: darkblue;
  font-size: 25px;
	background: rgba(255,255,255,0);
}

.img-wrapper ul li i:hover
{
	color: white;
}

.JSImg {
  width: 65%;
  height: 65%;
  margin: 13px;
}

.LanguageIcons {
  display: flex;
  justify-content: center;
  position: relative; bottom: 10px;
}

.LinkedIn {
  width: 17%;
  height: 17%;
  margin: 35px;
  position: relative; top: 50px; 
}

.linkOpps {
  color: darkblue;
  margin: 40px;
  position: relative;
  font-size: 30px;
  position: relative; top: 5px;
}

.linkOpps.active {
  color: white;
  background-color: darkblue;
}

.Me {
  border-radius: 80%;
  border: 2px solid darkblue;
  width: 300px;
  height: 380px;
  margin: 5px;
  position: relative; bottom: 410px; right: 18px;
}

.Medium {
  width: 12.5%;
  height: 12.5%;
  margin: 35px;
}

.Name {
  font-size: 40px;
  position: relative;
}

.NavGit {
  width: 10%;
  height: 10%;
  margin-left: 35px;
}

.NavHomeBtn {
  margin: 20px
}

.NavLI {
  width: 15%;
  height: 15%;
  margin-left: 35px;
  position: relative; top: 50px;
}

.navLinks {
  font-size: 25px;
  margin: 30px;
  list-style-type: none;
  text-align: center;
  position: relative; top: 10px;
}

.NavMed {
  width: 10%;
  height: 10%;
  margin-left: 35px;
}

.NavName {
  position: relative; top: 15px;
  font-size: 30px;
}

.NavProjectsBtn {
  margin: 30px
}

.NavSkillsBtn {
  margin: 30px
}

.NavSocialsPage {
  position: relative; bottom: 12px;
}

.NavTitle {
  margin: 25px;
  font-size: 20px;
}

.ProjectFooter {
  position: relative; top: 37px;
}

.RailsImg {
  width: 65%;
  height: 65%;
  margin: 13px;
}

.ReactImg {
  width: 65%;
  height: 65%;
  margin: 13px;
}

.ResumeBtn {
  margin: 20px
}

.RubyImg {
  width: 65%;
  height: 65%;
  margin: 13px;
}

.Shift{
  position: relative;
  margin: auto;
  width: 36%;
}

.SkillsFooter {
  position: relative; bottom: 32px;
}

.SkillsPage {
  position: relative; bottom: 5px;
}

.Socials {
  position: relative; right: 153px; bottom: 20px;
}

.Tech {
  font-size: 40px;
  text-decoration: underline;
}

.Tools {
  font-size: 40px;
  text-decoration: underline;
}

.ToolsList {
  font-size: 27px;
  position: relative; bottom: 10px;

}

.ToolsSection {
  position: relative; bottom: 80px;
}

.welcomeOpps:hover,
.welcomeOpps:active {
  color: white;
  background-color: darkblue;
}

.welcomeOpps {
  color: darkblue;
  margin: 70px;
  position: relative;
  font-size: 35px;
  position: relative; top: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}